nav {
    margin-bottom: 20px;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;   
}
nav li {
    list-style: none;
}
nav li:not(:last-child) {    
    margin-right: 10px;
}
nav a {
    text-decoration: none;
}
nav .is-active {
    border-bottom: 2px solid blue;
}
.users {
    border-collapse: collapse;
}
.users td {
    padding: 5px;
}
.users td, .users th {
    border: 1px solid #ccc;
}